<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bingo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link type="text/css" href="basic-style.css" rel="stylesheet">
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        var fieldsWithNumber = /*[[${fieldsWithNumber}]]*/
        if(fieldsWithNumber != null) {
            jQuery.each(fieldsWithNumber, function (board_id, field) {
                var fieldName = board_id +  "field" + field.x + field.y + "-out";
                $('#' + fieldName).addClass('red');
            })
        }
    });
</script>

<div id="board-create" class="modal">
    <div class="modal-dialog">
        <form class="form-horizontal" method="post" th:action="@{createbingoboard}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Bingofeld erstellen</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                    </div>

                    <div>
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                    </div>
                    <div>
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                    </div>
                    <div>
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                    </div>
                    <div>
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                        <input autofocus autocomplete="off" class="form-control" style="display: inline; width: 50px; height:50px" type="text" name="field" maxlength="2" required title="field">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="Saving..." >Erstellen</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="check-number" class="modal">
    <div class="modal-dialog">
        <form class="form-horizontal" method="post" th:action="@{checknumber}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nummer eingeben</h4>
                </div>
                <div class="modal-body">
                    <input autofocus autocomplete="off" class="form-control" type="text" name="number" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Prüfen</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div th:replace="fragments :: header('bingo')"></div>

<div class="container">
    <div class="start text-center">

        <div class="btn btn-group-vertical sticky-top">
            <button class="btn btn-success text-center"
                    data-target="#board-create"
                    data-toggle="modal">Bingofeld erstellen</button>

            <button class="btn btn-primary text-center"
                    data-target="#check-number"
                    data-toggle="modal">Nummer eingeben</button>
        </div>

        <th:block th:each="board : ${boards}">
            <div class="table-wrapper">
                <table class="margin-top" th:classappend="${boardStat.index % 2 == 0} ? 'left' : 'right'">
                    <tr th:each="row : ${board.rows}">
                        <td th:each="field : ${row}">
                            <div class="content"
                                 th:id="${boardStat.index} + field + ${field.x} + ${field.y} + -out">
                                <div class="v-align"
                                     th:text="${field.value}"
                                     th:id="${boardStat.index} + field + ${field.x} + ${field.y} + -in">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </th:block>
    </div>
</div>

</body>
</html>